.tag {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  padding: 0.25rem;
  padding-right: 1rem;
  font-weight: 800;
  height: 40px;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
}
