.closeButtonWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: var(--transition-slow);
  transition-property: opacity;

  :global(.uiVisible) & {
    opacity: 1;
  }
}
