.grid {
  display: flex;
  flex-direction: column;
}

.raceDetailsListItem {
  &:hover,
  &:focus-visible {
    .raceDetailsListItemRightIconWrapper {
      opacity: 1;
    }
  }
}

.errorWrapper {
  padding: 16px;
}

.zeroStateButtonWrapper {
  width: 100%;
  margin-top: 16px;
}

.moreFromF1 {
  padding: 24px 16px 8px 16px;
  @include typography(heading, 300, default);
  color: var(--color-text-muted);
  user-select: none;
}
