.eventTitle {
  @include typography(text, 300, regular);
  color: var(--color-text-default);
  white-space: nowrap;
}

.countryName {
  @include typography(heading, 400, default);
  color: var(--color-text-strong);
  white-space: nowrap;
}

.nonRaceEventName {
  @include typography(heading, 300, default);
  color: var(--color-text-strong);
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  user-select: none;
}

.countryContent {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}
