.screenWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: var(--color-background-surface);
  --dotColor: var(--color-core-neutral-lighten-100);
}

.wrapper {
  position: relative;
  z-index: 2;
  margin: 64px;
  padding: 24px;
  width: 400px;
  background: var(--color-background-muted-default);
  @include inner-border(var(--color-border-muted-default));
  border-radius: var(--radii-large);
}

.buttonWrapper {
  margin-top: 16px;
}
