.lapTime {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 0.25rem;

  .last {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;

    &.empty {
      color: #52525b; // zinc-600
    }

    &.fastest {
      color: #a855f7; // purple-500
    }

    &.personal {
      color: #10b981; // emerald-500
    }
  }

  .best {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1;
    color: #52525b; // zinc-600

    &.fastest {
      color: #a855f7; // purple-500
    }

    &.personal {
      color: #10b981; // emerald-500
    }

    &.empty {
      color: #52525b; // zinc-600
    }
  }
}
