.focusAudioButtonWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  opacity: 0;
  transition: var(--transition-slow);
  transition-property: opacity;

  .isAudioFocused {
    box-shadow: 0 0 0 2px var(--color-border-accent);
  }

  :global(.uiVisible) & {
    opacity: 1;
  }
}
