.drs {
  display: inline-flex;
  height: 2rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  border-width: 2px;
  border-style: solid;
  font-family: ui-monospace, monospace;
  font-weight: 800;
  font-size: 0.875rem;

  &Inactive {
    border-color: #3f3f46; // zinc-700
    color: #3f3f46;
  }

  &Possible {
    border-color: #a1a1aa; // zinc-400
    color: #a1a1aa;
  }

  &Active {
    border-color: #10b981; // emerald-500
    color: #10b981;
  }

  &Pit {
    border-color: #06b6d4; // cyan-500
    color: #06b6d4;
  }
}
