.wrapper {
  display: block;
  position: relative;
  padding: 8px;
  border-radius: var(--radii-small);
  border: 1px solid transparent;
  transition: var(--transition-fast);
  transition-property: border, background;
  width: 100%;
  cursor: pointer;
  user-select: none;

  &:not(.isActive) {
    background: transparent;

    &:hover {
      background: var(--color-background-accent-strong);
      border: 1px solid var(--color-border-muted-alpha);
      background: var(--color-background-default-alpha);
    }

    &:active {
      border: 1px solid var(--color-border-muted-alpha);
      background: var(--color-background-muted-alpha);
    }

    &:focus-visible {
      border: 1px solid var(--color-border-muted-alpha);
      background: var(--color-background-muted-alpha);
    }
  }

  &.isActive {
    border: 1px solid var(--color-border-muted-alpha);
    background: var(--color-background-default-alpha);
  }

  &.disabled {
    pointer-events: none;
  }
}
