.wrapper {
  display: flex;
  align-items: center;
  gap: 24px;

  :global {
    .bmpui-ui-controlbar {
      background: none;
      padding: 0;
      position: static;
    }

    .bmpui-ui-uicontainer {
      overflow: visible;
      position: static;
      height: auto;
    }

    .bmpui-controlbar-top {
      display: flex;
      width: 100%;

      .bmpui-container-wrapper {
        margin: 0;
        width: 100%;
      }

      .bmpui-ui-playbacktimelabel {
        margin: 0;
        @include typography(text, 300, regular);
      }

      .bmpui-ui-spacer {
        margin: 0;
        flex: 1;
      }

      .bmpui-current-time {
        color: var(--color-text-strong);
      }

      .bmpui-total-time {
        color: var(--color-text-muted);
      }
    }

    .bmpui-controlbar-bottom {
      margin-top: 12px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 12px;
        bottom: -12px;
      }

      .bmpui-container-wrapper {
        margin: 0;
        width: 100%;
      }

      .bmpui-ui-seekbar {
        height: 4px;

        &:hover {
          .bmpui-seekbar-playbackposition-marker {
            opacity: 1;
          }

          .bmpui-seekbar-playbackposition {
            background: var(--color-border-accent);
          }
        }
      }

      .bmpui-seekbar-markers {
        z-index: 2;
        height: 20px;
      }

      .bmpui-ui-seekbar-label > .bmpui-container-wrapper {
        margin-left: -50%;
        margin-right: 50%;
        position: relative;
      }

      .bmpui-seekbar-backdrop,
      .bmpui-seekbar-bufferlevel,
      .bmpui-seekbar-seekposition,
      .bmpui-seekbar-playbackposition {
        height: 4px;
        margin: 0;
        border-radius: 99999999999999999999px;
      }

      .bmpui-seekbar-backdrop {
        background: var(--color-background-strong-default);
      }

      .bmpui-seekbar-playbackposition {
        background: var(--color-border-strong-inverted-default);
        transition: var(--transition-fast);
        transition-property: background;
      }

      .bmpui-seekbar-seekposition {
        background: var(--color-core-neutral-lighten-400);
      }

      .bmpui-seekbar-bufferlevel {
        background: var(--color-core-neutral-lighten-400);
      }

      .bmpui-seekbar-playbackposition-marker {
        bottom: 0;
        width: 16px;
        height: 16px;
        left: -8px;
        border: none;
        background: var(--color-core-white);
        border-radius: var(--radii-rounded);
        opacity: 0;
        transition: var(--transition-fast);
        transition-property: opacity;
      }

      .bmpui-ui-seekbar-label {
        transition: var(--transition-slow);
        transition-property: opacity;

        .bmpui-seekbar-label-inner {
          border-bottom: 0;

          &::after {
            display: none;
          }
        }

        .bmpui-seekbar-label-metadata {
          padding: 8px 12px;
          border-radius: var(--radii-rounded);
          background: var(--color-background-default-default);
          @include inner-border(var(--color-border-default-default));

          .bmpui-seekbar-label-title {
            display: none;
          }

          .bmpui-seekbar-label-time {
            @include typography(text, 300, regular);
          }
        }
      }
    }
  }
}

.bitmovinWrapper {
  flex: 1;
  position: relative;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
}
