.wrapper {
  appearance: none;
  border: none;
  height: 44px;
  background: var(--color-core-neutral-darken-400);
  padding: 0 8px;
  border-radius: var(--radii-rounded);
  display: flex;
  align-items: center;
  user-select: none;

  @include inner-border(var(--color-border-muted-alpha));

  transition:
    var(--transition-fast) transform,
    var(--transition-fast) background,
    var(--transition-fast) box-shadow,
    var(--transition-slow) opacity;
  outline-offset: 1px;

  &.hideWhenUiHidden {
    opacity: 0;

    :global(.uiVisible) & {
      opacity: 1;
    }
  }

  &:not(:is(button)) {
    pointer-events: none;
  }

  &:is(button) {
    cursor: pointer;

    &:hover {
      transform: scale(1.0333);
      background: var(--color-core-neutral-darken-500);

      @include inner-border(var(--color-border-default-alpha));
    }

    &:active {
      transform: scale(1);
      background: var(--color-core-neutral-darken-300);
    }
  }
}

.label {
  color: var(--color-text-strong);
  padding: 0 8px;
  @include typography(heading, 300, display);
}

.imageWrapper {
  @include inner-border(var(--color-border-muted-alpha));
  border-radius: var(--radii-rounded);
  background-color: var(--color-background-muted-alpha);
  color: var(--color-text-default);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
