.wrapper {
  appearance: none;
  border: none;
  height: 44px;
  background: var(--color-background-interactive-darken-rest);
  padding: 0 8px;
  border-radius: var(--radii-rounded);
  display: flex;
  align-items: center;
  user-select: none;

  transition:
    var(--transition-fast) transform,
    var(--transition-fast) background,
    var(--transition-slow) opacity;
  outline-offset: 1px;

  &.hideWhenUiHidden {
    opacity: 0;

    :global(.uiVisible) & {
      opacity: 1;
    }
  }

  &:not(:is(button)) {
    pointer-events: none;
  }

  &:is(button) {
    cursor: pointer;

    &:hover {
      transform: scale(1.0333);
      background: var(--color-background-interactive-darken-hover);
    }

    &:active {
      transform: scale(1);
      background: var(--color-background-interactive-darken-press);
    }
  }
}

.label {
  color: var(--color-content-on-darken);
  padding: 0 8px;
  @include typography(heading, 300, display);
}

.imageWrapper {
  border-radius: var(--radii-rounded);
  background-color: var(--color-core-neutral-lighten-1100);
  color: var(--color-content-on-darken);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
