.wrapper {
  appearance: none;
  border: none;
  top: 8px;
  left: 8px;
  height: 44px;
  background: var(--color-core-neutral-darken-400);
  padding: 0 8px;
  border-radius: var(--radii-rounded);
  cursor: pointer;
  display: flex;
  align-items: center;

  @include inner-border(var(--color-border-muted-alpha));
  position: absolute;

  transition: var(--transition-fast);
  transition-property: transform, background, box-shadow;
  outline-offset: 1px;

  &:hover {
    transform: scale(1.0333);
    background: var(--color-core-neutral-darken-500);

    @include inner-border(var(--color-border-default-alpha));
    position: absolute;
  }

  &:active {
    transform: scale(1);
    background: var(--color-core-neutral-darken-300);
  }
}

.label {
  color: var(--color-text-strong);
  padding: 0 8px;
  @include typography(heading, 300, display);
}

.imageWrapper {
  @include inner-border(var(--color-border-muted-alpha));
  border-radius: var(--radii-rounded);
  background-color: var(--color-background-muted-alpha);
  color: var(--color-text-default);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
