.wrapper {
  --wrapper-border-color: transparent;

  display: block;
  position: relative;
  padding: 8px;
  border: none;
  border-radius: var(--radii-small);
  width: 100%;
  user-select: none;
  transition: var(--transition-medium);
  transition-property: background, transform;
  transform: scale(1);

  @include inner-border(var(--wrapper-border-color)) {
    transition: var(--transition-medium);
    transition-property: box-shadow;
  }

  &:not(&.disabled) {
    cursor: pointer;

    &:not(.isActive) {
      background: transparent;

      &:hover {
        --wrapper-border-color: var(--color-border-muted-alpha);
        background: var(--color-background-default-alpha);
      }

      &:active {
        --wrapper-border-color: var(--color-border-muted-alpha);
        background: var(--color-background-muted-alpha);
      }

      &:focus-visible {
        --wrapper-border-color: var(--color-border-muted-alpha);
        background: var(--color-background-muted-alpha);
      }
    }

    &.isActive {
      --wrapper-border-color: var(--color-border-muted-alpha);
      background: var(--color-background-default-alpha);
    }

    &:hover:not(&.disabled) {
      transform: scale(1.025);
    }

    &:active:not(&.disabled) {
      transform: scale(1);
    }
  }
}
