.wrapper {
  --offset-from-top: calc(var(--season-header-height) + var(--season-header-margin));

  display: flex;
  height: calc(100vh - calc(var(--offset-from-top) + var(--header-height) + var(--heading-margin-bottom)));
  flex-direction: column;
  position: sticky;
  top: calc(var(--offset-from-top) + var(--header-height) + var(--heading-margin-bottom));
  align-self: flex-start;
  margin-top: var(--offset-from-top);
  padding-right: 24px;
}

.element {
  position: relative;
}

.elementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.carrot {
  position: absolute;
  top: 0;
  transform: translateY(calc(-6px + var(--i) * 100%));
  left: -24px;
  height: 52px;
  width: 4px;
  background: var(--color-content-accent);
  border-radius: 0 var(--radii-xsmall) var(--radii-xsmall) 0;
  pointer-events: none;
  transition: var(--transition-fast);
  transition-property: transform;

  &.isHidden {
    display: none;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 24px;
  justify-content: flex-end;
  gap: 16px;
}

.footerButtonsWrapper {
  display: flex;
  gap: 16px;
}

.footerLink {
  color: var(--color-content-muted);
  transition: var(--transition-fast);
  transition-property: color;
  border-radius: var(--radii-xsmall);
  outline-offset: 4px;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    color: var(--color-content-strong);
  }
}

.footerIconLink {
  display: flex;
}

.footerText {
  color: var(--color-content-muted);
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.footerTextSection {
  display: flex;
  gap: 4px;
}

.lonelyMiddleDot {
  visibility: visible;

  &.isHidden {
    visibility: hidden;
  }
}
