.wrapper {
  --offset-from-top: calc(var(--season-header-height) + var(--season-header-margin));

  display: flex;
  flex-direction: column;
  position: sticky;
  top: calc(var(--offset-from-top) + var(--header-height) + var(--heading-margin-bottom));
  align-self: flex-start;
  margin-top: var(--offset-from-top);
  margin-bottom: var(--offset-from-top);
  padding-right: 24px;
}

.element {
  position: relative;
}

.elementsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.carrot {
  position: absolute;
  top: 0;
  transform: translateY(calc(-6px + var(--i) * 100%));
  left: -24px;
  height: 52px;
  width: 4px;
  background: var(--color-background-accent-default);
  border-radius: 0 var(--radii-xsmall) var(--radii-xsmall) 0;
  pointer-events: none;
  transition: var(--transition-fast);
  transition-property: transform;

  &.isHidden {
    display: none;
  }
}
