.text {
  padding: 0 16px;
  margin: 0;
  @include typography(text, 200, regular);
  text-align: center;
  color: var(--color-content-muted);
  margin-top: 8px;

  a {
    transition: var(--transition-fast);
    transition-property: color;
    text-decoration: underline;
    color: var(--color-content-muted);

    &:hover {
      color: var(--color-content-default);
    }
  }
}
