@mixin typography($style, $size, $weight: __default__) {
  $prefix: #{$style}-#{$size};

  @if $weight != __default__ {
    $prefix: #{$prefix}-#{$weight};
  }

  font-family: var(--typography-text-styles-#{$prefix}-font-family), -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: var(--typography-text-styles-#{$prefix}-font-weight);
  line-height: var(--typography-text-styles-#{$prefix}-line-height);
  font-size: var(--typography-text-styles-#{$prefix}-font-size);
  text-transform: var(--typography-text-styles-#{$prefix}-text-case);
  letter-spacing: var(--typography-text-styles-#{$prefix}-letter-spacing);
}

@mixin inner-border($color, $size: 1px, $element: after) {
  position: relative;
  overflow: hidden;

  &::#{$element} {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-radius: inherit;
    box-shadow: inset 0 0 0 $size $color;
    @content;
  }
}
