:root {
  --transition-function: cubic-bezier(var(--motion-function));

  --transition-fast: var(--transition-function) var(--motion-timing-fast);
  --transition-medium: var(--transition-function) var(--motion-timing-medium);
  --transition-slow: var(--transition-function) var(--motion-timing-slow);
}

:root {
  --z-index-header: 1000;

  --z-index-player: 1001;
  --z-index-player-grabbing-container: 1000;

  --z-index-overlay: 2000;
  --z-index-overlay-backdrop: 2000;

  --z-index-hide-cursor-wrapper: 3000;

  --z-index-cookie-banner: 3500;

  --z-index-snackbar: 4000;

  --z-index-debug-window: 99999;
}

:root {
  --heading-margin-bottom: 64px;
  --header-height: 0px; // <- defined in Races.tsx

  --season-header-height: 44px;
  --season-header-margin: 24px;
}
