.videoWindow {
  width: 100%;
  height: 100%;
  position: relative;
}

.controlsWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
  position: absolute;
  top: 12px;
  right: 12px;

  button,
  select {
    color: black;
  }
}
