.spinner {
  animation: spin 750ms linear infinite;

  *[fill] {
    fill: currentColor;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
