.screenWrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color-background-surface);
}

.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 24px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(14, 1fr);
  opacity: 0.5;
}

.card {
  background: var(--color-background-muted-default);
  @include inner-border(var(--color-border-muted-default));
  border-radius: var(--radii-medium);
}

.wrapper {
  position: relative;
  z-index: 2;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--color-background-muted-default);
  box-shadow: inset 0 0 0 1px var(--color-border-muted-default);
  border-radius: var(--radii-large);
}

.contentWrapper {
  a {
    transition: var(--transition-fast);
    transition-property: color;
    text-decoration: underline;
    color: currentColor;

    &:hover {
      color: var(--color-text-strong);
    }
  }
}

.buttonWrapper {
  display: flex;
  gap: 8px;
}
