.pedals {
  height: 0.375rem;
  width: 5rem;
  overflow: hidden;
  border-radius: 0.75rem;
  background-color: #27272a; // zinc-800

  .bar {
    height: 0.375rem;
    transition: width 0.1s ease-in-out;

    &.brake {
      background-color: #ef4444; // red-500
    }

    &.throttle {
      background-color: #10b981; // emerald-500
    }

    &.drs {
      background-color: #3b82f6; // blue-500
    }
  }
}
