.fullHeightWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
  background: var(--color-background-surface);
  --dotColor: var(--color-background-static-strong);

  @media (max-width: 800px) {
    height: 100%;
  }
}

.contentWrapper {
  position: relative;
  z-index: 2;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (max-width: 800px) {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
    max-width: 480px;
  }
}

.content {
  position: relative;
  width: 100%;
  background: var(--color-background-static-default);
  z-index: 1;
  padding: 64px 48px 48px;
  border-bottom-right-radius: var(--radii-large);
  @extend .pos-2dp;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 5px;
    width: 100%;
    z-index: 2;
    background-color: var(--color-border-accent);
  }
}

.disclaimer {
  width: 100%;
  padding: 0 24px;
  @include typography(text, 100, regular);
  text-align: center;
  color: var(--color-content-muted);

  a {
    color: var(--color-content-muted);
    transition: var(--transition-fast);
    transition-property: color;
    text-decoration: underline;

    &:hover {
      color: var(--color-content-strong);
    }
  }
}

.head {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  @include typography(heading, 700, default);
  margin: 0;
  color: var(--color-content-strong);
  user-select: none;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
}

.step {
  width: 36px;
  height: 4px;
  border-radius: var(--radii-rounded);
  background-color: var(--color-border-default);

  &.isSelected {
    background-color: var(--color-border-strong);
  }
}

.mobileDivider {
  flex: 1;
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}
