.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: var(--color-background-surface);
  --dotColor: var(--color-core-neutral-lighten-300);
}

.contentWrapper {
  position: relative;
  z-index: 2;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.content {
  position: relative;
  width: 100%;
  background: var(--color-background-muted-default);
  z-index: 1;
  padding: 64px 48px 48px;
  border-bottom-right-radius: var(--radii-large);

  @include inner-border(var(--color-border-muted-default), 1px);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    height: 5px;
    width: 100%;
    z-index: 2;
    background-color: var(--color-background-accent-default);
  }
}

.disclaimer {
  width: 100%;
  padding: 0 24px;
  @include typography(text, 100, regular);
  text-align: center;
  color: var(--color-text-muted);

  a {
    color: var(--color-text-muted);
    transition: var(--transition-fast);
    transition-property: color;
    text-decoration: underline;

    &:hover {
      color: var(--color-text-strong);
    }
  }
}

.head {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  flex-direction: column;
  align-items: flex-start;
}

.heading {
  @include typography(heading, 700, display);
  margin: 0;
  color: var(--color-text-strong);
  text-transform: uppercase;
  user-select: none;
}

.stepsContainer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 32px;
}

.step {
  width: 36px;
  height: 4px;
  border-radius: var(--radii-rounded);
  background-color: var(--color-border-strong-default);

  &.isSelected {
    background-color: var(--color-border-strong-inverted-default);
  }
}

.backgroundDotsOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #000000 0%, transparent 100%),
    linear-gradient(315deg, #000000 0%, transparent 100%);
  opacity: 0.75;
}
