.contents {
  position: relative;
  width: 100%;
  height: 100%;
  /* border-radius: 6px; */
  overflow: hidden;
  background: #0f0f12;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 0 0px rgba(218, 218, 253, 0.17);
    pointer-events: none;
    transition: 0.1s ease-in-out;
    transition-property: box-shadow;
  }

  &:hover::after {
    box-shadow: inset 0 0 0 3px rgba(218, 218, 253, 0.17);
  }
}

.rndWrapper {
  z-index: var(--zIndex);

  &:not(.isResizing) {
    & .bottomLeft,
    & .bottomRight,
    & .topLeft,
    & .topRight {
      width: 10px !important;
      height: 10px !important;
    }

    & .bottomLeft {
      transform: translateX(100%) translateY(-100%);
    }

    & .bottomRight {
      transform: translateX(-100%) translateY(-100%);
    }

    & .topLeft {
      transform: translateX(100%) translateY(100%);
    }

    & .topRight {
      transform: translateX(-100%) translateY(100%);
    }

    & .left {
      transform: translateX(100%);
      width: 5px !important;
    }

    & .right {
      transform: translateX(-100%);
      width: 5px !important;
    }

    & .top {
      transform: translateY(100%);
      height: 5px !important;
    }

    & .bottom {
      transform: translateY(-100%);
      height: 5px !important;
    }
  }
}
