.contents {
  position: relative;
  width: 100%;
  height: 100%;
}

.rndWrapper {
  position: absolute;
  z-index: var(--zIndex);
  cursor: grab;
  // overflow: hidden;
  background: #0f0f12;
  border-radius: var(--radii-small);

  &::after {
    content: "";
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: inset 0 0 0 0px rgba(218, 218, 253, 0.3);
    pointer-events: none;
    transition: 0.1s ease-in-out;
    transition-property: box-shadow;
    border-radius: 8px;
  }

  &:hover::after {
    box-shadow: inset 0 0 0 3px rgba(218, 218, 253, 0.3);
  }

  &.isDragging {
    cursor: grabbing;
  }
}

.rndHandle {
  position: absolute;
  user-select: none;
  --handleSize: 5px;

  :global(.debug) & {
    &.rndHandleN,
    &.rndHandleE,
    &.rndHandleW,
    &.rndHandleS {
      background: red;
    }

    &.rndHandleNw,
    &.rndHandleNe,
    &.rndHandleSw,
    &.rndHandleSe {
      background: green;
    }
  }
}

.rndHandleN {
  left: var(--handleSize);
  top: 0;
  height: var(--handleSize);
  width: calc(100% - var(--handleSize) * 2);
  cursor: ns-resize;
}

.rndHandleE {
  right: 0;
  top: var(--handleSize);
  width: var(--handleSize);
  height: calc(100% - var(--handleSize) * 2);
  cursor: ew-resize;
}

.rndHandleW {
  left: 0;
  top: var(--handleSize);
  width: var(--handleSize);
  height: calc(100% - var(--handleSize) * 2);
  cursor: ew-resize;
}

.rndHandleS {
  left: var(--handleSize);
  bottom: 0;
  height: var(--handleSize);
  width: calc(100% - var(--handleSize) * 2);
  cursor: ns-resize;
}

.rndHandleNw {
  top: 0;
  left: 0;
  height: calc(var(--handleSize) * 2);
  width: calc(var(--handleSize) * 2);
  cursor: nwse-resize;
}

.rndHandleNe {
  top: 0;
  right: 0;
  height: calc(var(--handleSize) * 2);
  width: calc(var(--handleSize) * 2);
  cursor: nesw-resize;
}

.rndHandleSw {
  bottom: 0;
  left: 0;
  height: calc(var(--handleSize) * 2);
  width: calc(var(--handleSize) * 2);
  cursor: nesw-resize;
}

.rndHandleSe {
  bottom: 0;
  right: 0;
  height: calc(var(--handleSize) * 2);
  width: calc(var(--handleSize) * 2);
  cursor: nwse-resize;
}
