.heroImageWrapper {
  display: flex;
  width: 100%;
  transition: var(--transition-medium);
  transition-property: border-radius;
  border-radius: var(--radii-medium);

  @include inner-border(var(--color-border-muted-alpha)) {
    transition: var(--transition-medium);
    transition-property: box-shadow;
  }
}

.heroImage {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  transition: var(--transition-medium);
  transition-property: opacity, filter, transform;
  filter: grayscale(1);
  object-fit: cover;
  transform: scale(1);
  aspect-ratio: 33 / 16;
}

.contentWrapper {
  padding: 24px;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
}

.headerTextContent {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.headerFirstLine {
  @include typography(heading, 400, default);
  color: var(--color-text-strong);
}

.headerSecondLine {
  @include typography(label, 300);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  gap: 4px;

  color: var(--color-text-default);
}

.headerRound {
  color: var(--color-text-muted);
}

.content {
  margin-top: 16px;
  @include typography(text, 300, regular);
}

.hoverPositionWrapper {
  transform: perspective(1000px) rotateX(calc(var(--y-pos) * -2deg)) rotateY(calc(var(--x-pos) * 2deg));
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: var(--radii-medium);
  transition: var(--transition-medium);
  transition-property: background, transform;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  text-align: left;
  user-select: none;

  @include inner-border(var(--color-border-muted-alpha)) {
    opacity: 0;
    transition: var(--transition-medium);
    transition-property: opacity;
  }

  &:hover,
  &:focus-visible {
    background: var(--color-background-default-default);
    transform: scale(1.05);

    &::after {
      opacity: 1;
    }

    .heroImage {
      opacity: 1;
      filter: grayscale(0);
      transform: scale(1.05);
    }

    .heroImageWrapper {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;

      &::after {
        box-shadow: inset 0 -1px 0 0px var(--color-border-muted-alpha);
      }
    }
  }

  &:active {
    transform: scale(1.025);
  }
}
