.backgroundWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-color: var(--color-background-surface);
  --dotColor: var(--color-background-static-strong);

  @include feature-flag("increase-background-contrast", "true") {
    background-color: #154415;
    --dotColor: white;
  }
}

.cursorWrapper {
  &:not(:global(.uiVisible))::after {
    cursor: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-index-hide-cursor-wrapper);
  }
}

.loaderWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cmdContainer {
  display: inline-flex;
  margin: 0 4px;
  height: 24px;
  padding: 2px 6px;
  border-radius: var(--radii-xsmall);
  justify-content: center;
  text-align: center;

  @include inner-border(var(--color-border-default), 1px);
  @include typography(text, 300, regular);
  background: var(--color-background-static-strong);

  &.isCmd {
    aspect-ratio: 1 / 1;
    padding: 2px 0;
  }
}
