.backgroundWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-color: var(--color-background-surface);
  --dotColor: var(--color-core-neutral-lighten-300);

  :global(.debug) & {
    background-color: #154415;
    --dotColor: white;
  }
}
