.backgroundWrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;

  background-color: #000000;
  --dotColor: #242424;

  :global(.debug) & {
    background-color: #154415;
    --dotColor: white;
  }
}
