.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex: 0 0 60px;
  padding-right: 4rem;
  padding-left: 4rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 2px;
  font-family: "Geist Mono Variable", monospace;
}

.title {
  font-size: 0.875rem;
  font-weight: 500;
  color: white;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.time {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.skeleton {
  height: 1rem;
  width: 250px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 0.375rem;
  background-color: rgb(39, 39, 42);
}

.timeSkeleton {
  margin-top: 0.25rem;
  height: 1.5rem;
  width: 150px;
  font-weight: 600;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
