.layout {
  display: grid;
  grid-template-columns: 330px 1fr;
  padding: 24px;
  padding-top: 0;
  gap: var(--heading-margin-bottom) 24px;
}

.races summary {
  cursor: pointer;
}

.races ul {
  margin: 0;
}

.heading {
  @include typography(heading, 600, default);
  color: var(--color-text-strong);
  margin-bottom: 24px;
  margin-top: 32px;
  scroll-margin-top: 32px;
  user-select: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 24px;
}

.skipLink {
  border-radius: var(--radii-xsmall);
  padding: 4px;
  margin-bottom: 4px;
  display: inline-flex;

  &:not(:focus) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}

.liveCardWrapper {
  margin-bottom: 32px;
}
