.positionWrapper {
  position: sticky;
  top: 0;
  grid-column: -1 / 1;
  z-index: var(--z-index-header);
  margin: 0 -24px;
  padding: 0 24px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 24px 16px;
  position: relative;
}

.headerImage {
  height: 32px;
  user-select: none;
}

.rightContent {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}

.inputWrapper {
  width: 304px;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(var(--header-height) + 64px);
  pointer-events: none;

  &::before {
    content: "";
    display: block;
    height: 32px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background: var(--color-background-surface);
  }

  &::after {
    content: "";
    display: block;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    background: linear-gradient(180deg, var(--color-background-surface), transparent);
  }
}

.logoLink {
  display: flex;
  border-radius: var(--radii-xsmall);

  &:focus-visible {
    outline-offset: 6px;
  }
}
