.contentWrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 8px;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.title {
  @include typography(heading, 500, default);
  color: var(--color-content-strong);
  margin: 0;
  user-select: none;
}

.subtitle {
  @include typography(text, 300, regular);
  color: var(--color-content-default);
  user-select: none;

  p {
    margin: 8px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.infoIcon {
  color: var(--color-content-muted);
}

.alertIcon {
  color: var(--color-content-accent);
}

.buttonFooter {
  display: flex;
  gap: 8px;
}
