.wrapper {
  --transform-y: 0;
  --wrapper-top: 12px;

  @include typography(text, 200, regular);
  @include inner-border(var(--color-border-default-default), 1px);
  user-select: none;

  background: var(--color-background-default-default);
  border-radius: var(--radii-rounded);

  position: fixed;
  top: var(--wrapper-top);
  left: 50%;
  padding: 8px 16px;
  color: var(--color-text-strong);

  transform: translate(-50%, var(--transform-y));
  z-index: var(--z-index-snackbar);

  &.wrapperEnter {
    visibility: hidden;
    --transform-y: calc(-100% - var(--wrapper-top));
  }

  &.wrapperEnterActive {
    visibility: visible;
    --transform-y: 0;

    transition: var(--transition-slow);
    transition-property: transform;
  }

  &.wrapperExit {
    visibility: visible;
    --transform-y: 0;
  }

  &.wrapperExitActive {
    visibility: visible;
    --transform-y: calc(-100% - var(--wrapper-top));

    transition: var(--transition-slow);
    transition-property: transform;
  }
}
