.section {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.sheetHeader {
  padding: 16px;
  padding-bottom: 0;

  color: var(--color-content-strong);
  @include typography(heading, 500, default);
}

.sectionHeaderWrapper {
  width: 100%;
  padding: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  user-select: none;
}

.sectionHeader {
  @include typography(heading, 400, default);
  color: var(--color-content-strong);
}

.sectionIcon {
  color: var(--color-content-muted);
  display: flex;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.subSection {
  padding: 4px 16px;
  background-color: var(--color-background-static-default);
  border-radius: var(--radii-medium);
  @extend .pos-1dp;
}

.subSectionHeader {
  @include typography(heading, 200, display);
  color: var(--color-content-strong);
  padding: 16px 0;
  user-select: none;
}

.shortcutRow {
  display: flex;
  padding: 12px 0;
  gap: 8px;
  justify-content: space-between;
  background-color: var(--color-background-static-default);
  box-shadow: inset 0 -1px 0 var(--color-border-default);
  user-select: none;

  &:last-child {
    box-shadow: none;
  }
}

.shortcutRowText {
  @include typography(text, 300, regular);
  color: var(--color-content-default);
}
