.wrapper {
  display: inline-flex;
  padding: 8px;
  padding-right: 12px;
  gap: 8px;
  background: var(--color-background-interactive-darken-rest);
  color: var(--color-content-on-darken);
  border-radius: var(--radii-rounded);
  user-select: none;
  // @include inner-border(var(--color-border-default));
  @include typography(text, 300, regular);
}
